body {
    background-color: #f0f0f0;
}
h1 {
    text-align: center;
    color: #333333;
}
.container{
    text-align: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    height: 20px;
    width: 80px;
}
.button:hover {
    background-color: darkgreen;
}
.input-area {
    background-color:#e6f7ff; 
    padding: 20px;
    display: inline-block; 
    border: 2px solid #ccc; 
    border-radius: 10px;
}
